@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <select 
                    name="category" 
                    class="form-select" 
                    asp-items="@(new SelectList(Model.Categories, "CategoryID", "CategoryName", Model.SelectedCategory))">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">
                        Filtrele
                    </button>
                </div>
            </div>
        </div>

    </form>

</div>
<form asp-action="EditProducts" method="post">
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th style="width:100px;">@Html.DisplayNameFor(m =>m.Products[0].ProductID)</th>
                <th style="width:100px;">@Html.DisplayNameFor(m =>m.Products[0].Name)</th>
                <th style="width:100px;">@Html.DisplayNameFor(m =>m.Products[0].Image)</th>
                <th style="width:100px;">@Html.DisplayNameFor(m =>m.Products[0].Price)</th>
                <th style="width:100px;">Ürün Yayında mı?</th>
                <th style="width:100px;">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < @Model.Products.Count; i++){
                <tr>
                    <td>
                        @Model.Products[i].ProductID
                        <input type="hidden" asp-for="@Model.Products[i].isActive">
                    </td>
                    <td>@Model.Products[i].Name</td>
                    <td>
                        <img src="~/img/@Model.Products[i].Image" class="img-fluid" alt="@Model.Products[i].Name">
                    </td>
                    <td>@Model.Products[i].Price</td>
                    <td>
                        <input class="form-check-input" type="checkbox" asp-for="@Model.Products[i].isActive">
                    </td>
                    <td>
                        <a href="/Home/Edit/@Model.Products[i].ProductID" class = "btn btn-sm btn-warning">Düzenle</a>
                        <a href="/Home/Delete/@Model.Products[i].ProductID" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>